body {
	margin-top: 70px;
	background: url("../img/TwitterBackNew.jpg");
	background-size: 100%;
	background-position: 0px 50px;
}

/*.nav {
	height: 50px;
}*/

.search-form {
	margin-right: 15px;
}

.icon-btn {
	margin-right: 7px;
}

.mid-icon {
	margin-left: 115px;
}

.marg-top {
	margin-top: 10px;
}

.marg-left {
	margin-left: 10px;
}

.nav li div {
	width: inherit;
	height: 5px;
	background: #fff;
	margin-bottom: -1px;
	/*margin-top: -4px;*/
}

.nav li:hover div, .nav li.active div {
	background: #383838;
}

.new-tweet-input {
	margin-bottom: -20px;
	resize: none;
}

.text-count {
	margin-right: 10px;
	margin-top: 7px;
	font-size: 15px;
}

.navbar-profile {
	margin-right: 15px;
	/*margin-left: 10px;*/
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.navbar-profile img {
	width: 35px;
	height: 35px;
}

.profile-drop {
	margin-top: 14px;
}

.profile-drop-view h5 {
	margin-bottom: -2px;
	font-weight: bolder;
}

.dashboard {
	margin-right: -20px;
}

.tweet-view {
}

.right-board {
	margin-left: -20px;
}

.inside-tweet {
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: -15px;
	padding: 10px;
}

.inside-tweet-new-compose {
	resize: none;
}

.photo-left-dashboard {
	width: 65px;
	height: 65px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: -10px;
	margin-left: -3px;
}

.bold-text {
	font-weight: bold;
	color: black;
} .bold-text:hover {
	color: black;
}

.feature-container {
	margin-left: -16px;
	margin-right: -16px;
	margin-top: -16px;
	margin-bottom: -15px;
}

.feature {
	width: 264px;
	height: 100px;
}

.force-right {
	position: fixed;
	float: right;
	margin-left: 10px;
	margin-top: 10px;
	color: black;
} .force-right:hover {
	color: black;
}

.force-right-down {
	position: fixed;
	float: right;
	margin-top: 35px;
	margin-left: 10px;
}