body {
	margin-top: 50px;
	background: url("../img/TwitterBackNew.jpg");
	background-size: 100%;
	background-position: 0px 50px;
}

.search-form {
	margin-right: 15px;
}

.icon-btn {
	margin-right: 7px;
}

.mid-icon {
	margin-left: 115px;
}

.marg-top {
	margin-top: 10px;
}

.marg-left {
	margin-left: 10px;
}