<!DOCTYPE html>
<html lang="en" ng-app="twitter">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter / Discover</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Navigation Bar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <!-- NB container -->
      <div class="container">

        <!-- Navigation Bar main Components -->
        <div>
          <ul class="nav navbar-nav">
            <li><a href="index.html"><span class="glyphicon glyphicon-home icon-btn"></span>Home</a><div class="actives"></div></li>
            <li><a href="notifications.html"><span class="glyphicon glyphicon-bell icon-btn"></span>Notifications</a><div></div></li>
            <li><a href="#"><span class="glyphicon glyphicon-envelope icon-btn"></span>Messages</a><div></div></li>
            <li class="active"><a href="discover.html"><span class="glyphicon glyphicon-bullhorn icon-btn"></span>Discover</a><div></div></li>
          </ul>
        </div> <!-- end of Navigation Bar Components -->

        <div class="navbar-text navbar-left mid-icon">
          <!-- <span class="glyphicon glyphicon-send"></span> -->
          <img class="navbar-img" src="img\favicon.png">
        </div>

        <!-- Right area of Navigation Bar -->
        <div class="navbar-right">
            <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#composeNewTweet"><span class="glyphicon glyphicon-pencil icon-btn"></span>Tweet</button>
        </div>

        <div class="navbar-right">
          <div class="navbar-profile">
            <div class="btn-group">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="img/me-alex-shades.jpg"></a>
              <ul class="dropdown-menu profile-drop" role="menu">
                <li class="profile-drop-view">
                  <a href="#"><h5>Ahmed Sami Mohamed</h5><span class="text-muted"><small>View Profile</small></span></a>                  
                </li>
                <li class="divider"></li>
                <li><a href="#">Lists</a></li>
                <li class="divider"></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Keyboard shortcuts</a></li>
                <li class="divider"></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="navbar-right search-form">

          <div>
            <form class="navbar-form hidden-xs" role="search">
              <div class="row">
                <div class="">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Twitter">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
              </div>
            </form>
          </div>
        </div> <!-- Right area of Navigation Bar -->

      </div> <!-- end of NB container -->
    </div> <!-- end of Navigation Bar -->

    <!-- PAGE COMPONENTS -->  
    <div class="container page-components">

      <!-- NEW TWEET MODAL -->
        <div class="modal fade" id="composeNewTweet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="modal-title text-center"><span>Compose new Tweet</span></div>
              </div>
              <div class="modal-body bg-info">
                <div class="panel panel-default">
                  <textarea class="form-control new-tweet-input" rows="4"></textarea>
                </div>
              </div>
              <div class="modal-footer bg-info">
                  <div class="pull-left">
                    <button type="button" class="btn btn-default pull-left"><span class="glyphicon glyphicon-camera icon-btn"></span>Add photo</button>
                    <button type="button" class="btn btn-default pull-left"><span class="glyphicon glyphicon-map-marker icon-btn"></span>Add location</button>
                  </div>
                  <div class=" pull-right">
                    <button type="button" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-pencil icon-btn"></span>Tweet</button>
                    <div class="pull-right text-count"><p class="text-muted">140</p></div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <!-- END OF NEW TWEET MODAL -->

      <div class="fluid-container">
        <div class="row">

          <!-- DASHBOARD -->
          <div class="col-md-3 dashboard">

            <div class="panel panel-default">
              <ul class="list-group list-unstyled">
                <li class="list-group-item dashboard-nav dashboard-nav-active"><a href="#"><div>Tweets<span class="glyphicon glyphicon-chevron-right pull-right"></span></div></a></li>
                <li class="list-group-item dashboard-nav"><a href="#"><div>Activity<span class="glyphicon glyphicon-chevron-right pull-right"></span></div></a></li>
                <li class="list-group-item dashboard-nav"><a href="#"><div>Who to follow<span class="glyphicon glyphicon-chevron-right pull-right"></span></div></a></li>
                <li class="list-group-item dashboard-nav"><a href="#"><div>Find friends<span class="glyphicon glyphicon-chevron-right pull-right"></span></div></a></li>
                <li class="list-group-item dashboard-nav"><a href="#"><div>Popular accounts<span class="glyphicon glyphicon-chevron-right pull-right"></span></div></a></li>
              </ul>
            </div>

            <!-- Worldwide Trends -->
            <div class="panel panel-default">
              <div class="panel-body">
                <div><span><h4 class="text-muted">Worldwide Trends<small> - <a href="#">Change</a></small></h4></span></div>
                <div>
                  <ul class="list-unstyled">
                    <li><a href="#">#AskSuperwomanLIVE</a></li>
                    <li><a href="#">#OlimpiadasDoRangelPt1</a></li>
                    <li><a href="#">#TodoBienHastaQue</a></li>
                    <li><a href="#">#5HNoPontoPop</a></li>
                    <li><a href="#">#yourefired</a></li>
                    <li><a href="#">John O'Shea</a></li>
                    <li><a href="#">Richard Flanagan</a></li>
                    <li><a href="#">Lorik Cana</a></li>
                    <li><a href="#">Chiles</a></li>
                    <li><a href="#">Lord Sugar</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- end of Worldwide Trends -->

          </div>
          <!-- end of DASHBOARD -->

          <!-- Tweets -->
          <div class="col-md-6 tweets-view">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="the-panel-title">
                  <h4 class="text-muted">Tweets</h4>
                  <span class="text-muted">What's happening now, tailored for you.</span>
                </div>
              </div>
            </div>
          </div>
          <!-- end of NOTIFICATIONS -->

          <!-- SUGGESTIONS AND COPYRIGHTS -->
          <div class="col-md-3 right-board" ng-controller="WhoToFollowCtrl as suggestions">

            <!-- Find People you know -->
            <div class="panel panel-default">
              <div class="panel-body">
                <div><span><h4 class="text-muted">Who to follow<small> - <a href="#">Refresh</a> - <a href="#">View all</a></small></h4></span></div>

                <!-- SUGGESTIONS -->
                <div class="suggestion-container" ng-repeat="suggestion in suggestions.suggestions">
                  <div class="suggestion-photo"></div>
                  <div class="suggestion-details">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <a class="sugg-details" href="#" data-toggle="modal" data-target="#showTweeterProfile"><strong>{{suggestion.user}}</strong><small class="text-muted">{{suggestion.username}}</small></a>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus icon-btn"></span>Follow</button>
                  </div>
                </div>
                <!-- end of SUGGESTIONS -->

                <!-- POPULAR ACCOUNTS -->
                <div class="pop-acc">
                  <div class="panel-divider"></div>
                  <div>
                  <small>
                    <a href="#"><span class="glyphicon glyphicon-user icon-btn"></span>Find people you know</a>
                      <span> - </span>
                    <a href="#">Popular accounts</a>
                  </small>
                  </div>
                </div>
                <!-- POPULAR ACCOUNTS -->

              </div>
            </div>
            <!-- end of Find People you know -->

            <!-- Copyrights and Twitter related links -->
            <div class="panel panel-default">
              <div class="panel-body" ng-controller="AboutsCtrl as credits">
                <ul class="list-unstyled list-inline">
                  <li ng-repeat="content in credits.contents track by $index" class="text-muted">{{content}}</li>
                </ul>
              </div>
            </div>
            <!-- end of Copyrights and Twitter related links -->

          </div>
          <!-- end of SUGGESTIONS AND COPYRIGHTS -->

        </div>
      </div>  

    </div> <!-- end of PAGE COMPONENTS -->
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Import AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <!-- Importing my JS files -->
    <script src="js/ajs-app.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>