<div class="tweet-container">
  <div class="tweeter-photo"></div>
  <div class="tweet-content">
    <div class="tweeter-name">
      <a ng-click="setProfile(tweet);" class="tweeter-sender-details" href="#" data-toggle="modal" data-target="#showTweeterProfile"><strong>{{tweet.user}}</strong><small class="text-muted">{{tweet.username}}</small></a>
      <small>- <a href="#"><span am-time-ago="tweet.time"></span></a></small>
    </div>
    <div class="tweet-text">{{tweet.tweet}}</div>
    <div class="tweet-action">
      <ul class="list-unstyled list-inline">
        <li id="reply"><a href="#"><div><span class="glyphicon glyphicon-new-window"></span></div></a></li>
        <li id="retweet">
          <a href="#" ng-click="retweet();" ng-class="{'retweeted': tweet.retweeted}">
            <div>
              <span class="glyphicon glyphicon-retweet"></span>
              <span class="bdg-mrg">{{tweet.retweets}}</span>
            </div>
          </a>
        </li>
        <li id="favorite">
          <a href="#" ng-click="favorite();" ng-class="{'favorited': tweet.favorited}">
            <div>
              <span class="glyphicon glyphicon-asterisk"></span>
              <span class="bdg-mrg">{{tweet.favorites}}</span>
            </div>
          </a>
        </li>
        <li id="options">
          <a href="#" ng-click="delete();">
            <div>
              <span class="glyphicon glyphicon-minus"></span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>