<!-- SUGGESTIONS -->
<div ng-hide="suggestion.dismiss" class="suggestion-container" ng-repeat="suggestion in suggestions">
  <div class="suggestion-photo"></div>
  <div class="suggestion-details">
    <button ng-click="close(suggestion);" type="button" class="close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <a class="sugg-details" href="#" data-toggle="modal" data-target="#showTweeterProfile"><strong>{{suggestion.user}}</strong><small class="text-muted">{{suggestion.username}}</small></a>
    <button ng-click="toggle(suggestion);" ng-class="{'btn-primary': suggestion.followed}" type="button" class="btn followbtn btn-default">
      <span ng-hide="suggestion.followed" class="glyphicon glyphicon-plus icon-btn"></span>
      <span ng-hide="suggestion.followed">Follow</span>
      <span ng-show="suggestion.followed">Following</span>
    </button>
  </div>
</div>
<!-- end of SUGGESTIONS -->