<!-- NEW TWEET MODAL -->
  <div class="modal fade" id="composeNewTweet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <div class="modal-title text-center"><span>Compose new Tweet</span></div>
        </div>
        <div class="modal-body bg-info">
          <div class="panel panel-default">
            <textarea ng-model="tweet.tweet" class="form-control new-tweet-input" rows="4"></textarea>
          </div>
        </div>

        <div class="modal-footer bg-info">
            <div class="pull-left">
              <button type="button" class="btn btn-default pull-left"><span class="glyphicon glyphicon-camera icon-btn"></span>Add photo</button>
              <button type="button" class="btn btn-default pull-left"><span class="glyphicon glyphicon-map-marker icon-btn"></span>Add location</button>
            </div>
            <div class=" pull-right">
              <button ng-click="sendTweet(tweet)" ng-disabled="tweet.tweet.length === 0 || (140 - tweet.tweet.length) < 0" type="button" class="btn btn-primary pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-pencil icon-btn"></span>Tweet</button>
              <div class="pull-right text-count"><p class="text-muted">{{140 - tweet.tweet.length}}</p></div>
            </div>
        </div>

      </div>
    </div>
  </div>
<!-- END OF NEW TWEET MODAL -->